body {background-color: rgb(255, 204, 153);}
h1, title {
    color: rgb(204, 102, 255);
    font-family: 'Koulen', cursive;
}
html{
    text-align: center;
}
a:link{
    color:rgb(0, 0, 204);
}
a:hover{
    color:rgb(102, 0, 204);
}

