body {background-color: lightsalmon;}
h1 {
    color:gold;
    font-family: 'Pacifico', cursive;
}
html{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
a:link{
    color:rgb(0, 0, 204);
}
a:hover{
    color:rgb(102, 0, 204);
}

