body {background-color: lightsalmon;}
h1, title {
    color:gold;
    font-family: 'Koulen', cursive;
}
html{
    text-align: center;
}
a:link{
    color:rgb(0, 0, 204);
}
a:hover{
    color:rgb(102, 0, 204);
}

